@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Montserrat:wght@300;400;600;700&display=swap');

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: #0a1d2d;
    font-family: 'El Messiri', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}
.container {
    max-width: 1328px;
    padding: 0px 15px 0px 15px;
    margin:0 auto;
}
.link-reset{
    text-decoration: none;
}
/* ---- CONTENT HEADER------ */
.header {
    padding-top:30px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    margin-bottom:50px;
}
.header-img__link {
}
.header__iamge {
    width:60px;
    height:60px;
}
.header__list {
    display:flex;
    justify-content:space-between;
    height:19px;
}
@media(max-width:1070px){
    .header__list {
        display:none;
    }
}
.header__item {
    margin: 0px 25px 0px 25px; 
}
.header__item:first-child{
    margin-left:0px;   
}
.header__item:last-child{
    margin-right:0px;
}
.header__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.header-button__link {
    padding:12px 15px 12px 15px;
    border-radius: 3px;
    background-color: rgba(1, 138, 190, 1);
    font-family: 'Montserrat', sans-serif;
    line-height: 140%;
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
}
/* ---- BURGER BUTTON()----- */
.header__burger{
    display:none;
    width:60px;
    height:60px;
    border-radius: 100%;
    background-color:rgba(1, 138, 190, 1);
    padding: 17px 10px 0px 10px;
}
.burger__span{
    display:block;
    width:100%;
    height:2px;
    border-radius:2px;
    background-color:#FFFFFF;
}
.burger__span:first-child{
    margin-bottom:10px;
}
.burger__span:last-child{
    margin-top:10px;
}
@media(max-width:1070px){
    .header-button__link{
        display:none;
    }
    .header__burger{
        display:block;
    }
    .header__container{
        margin-bottom:30px;
    }
}
/*------BURGER MENU-------*/

.header-burger__menu {
    position:absolute;
    background-color:rgba(1, 138, 190, 60%);
    width: 100%;
    left: -100%;
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    transition: .3s;
}
.header-burger__list {
    text-align: center;
}
.burger-button{
    display:block;
    max-width: 200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    color:rgba(1, 138, 190, 1);
}
.header-burger__item {
    margin-top:10px;
}
.header-burger__item:last-child {
    margin-bottom:20px;
}
@media(max-width:1070px){
    .header-burger__menu-active {
        left:0;    
    }
}
/* -----MAIN------- */
/* --- CONTENT HOME----- */
/* .main {
} */
.home {
    max-width: 1296px;
    margin: 0 auto;
    /* padding-left:15px;
    padding-right:15px; */
}
@media (max-width:1325px){
    .home {
        padding-left:15px;
        padding-right:15px;
    }
}
.home__container { 
    background:url(../image/home-background-image.svg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    min-height:600px; 
    /* margin-left:15px;
    margin-right:15px; */
    padding-top:136px;
    border-radius: 10px;
}
.home__block {
    max-width: 586px;
    margin:0 auto;
    text-align: center;
}
.home__span {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}
.home__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}
@media(max-width:445px){
    .home__title {
        font-size: 40px;
    }
}
@media(max-width:350px){
    .home__title {
        font-size: 30px;
    }
}
@media(max-width:320px){
    .home__title {
        font-size: 40px;
    }
}
@media(max-width:290px){
    .home__title {
        font-size: 30px;
    }
}
/* ---------- SESSIONS CONTENT ----------- */

.sessions {
}
.sessions__container {
    padding-top:150px;
    flex-wrap: wrap;
}
.sessions__block {
    max-width: 482px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    height:59px;
    align-items: center;
    margin-bottom:100px;
}
.sessions_icon {
    width:28px;
    height:14px;
}
.sessions__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}
.sessions__cards {
    display:flex;
    justify-content:space-between;
}
.sessions-big-item__card{
    display:block;
    background-image: url(../image/sessions_image_girl.svg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width:416px;
    height: 540px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    padding:456px 108px 0px 50px;
    color: #FFFFFF;
}
.sessions-item__card {
    margin-bottom:24px;
}
.sessions-item__span {
}
.sessions-mini__cards {
    display:block;
    background-image: url(../image/sessions_image_girl_mini.svg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width:416px;
    height:258px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    padding-left:40px;
    color: #FFFFFF;
}
.sessions-mini__cards:first-child{
    margin-bottom:24px;
}
.sessions-mini__span {
    display: block;
    max-width:336px;
    margin-right: 40px;
}
@media(max-width:1250px){
    .sessions__cards {
        display: grid;
        max-width: 416px;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }
    .sessions-big-item__card{
        margin-bottom:24px;
    }
    .span-right__top:last-child{
        padding-top:160px;
    }
}
@media(max-width:416px){
    .sessions-item__span{
        font-size: 18px;
    }
    .sessions-mini__span{
        font-size: 18px;
    }
}
@media(max-width:300px){
    .sessions-big-item__card{
        width:240px;
        padding-top:300px;
        margin: 0 auto;
    }
    .sessions-mini__cards{
        width:240px;
        margin: 0 auto;
    }
    .sessions-mini__cards:first-child{
        margin-top:24px;
    }
    .span-left__top:first-child{
        padding-top:120px;
    }
    .span-left__top:last-child{
        padding-top:100px;
    }
    
}
.span-right__top{
    padding-top:194px;
}
.span-left__top{
    padding-top:160px;
}

/* -------REVIEWS CONTENT------ */
.reviews__block{
    max-width: 300px;
}
.reviews {
    padding-top:150px;
}
.reviews_container {

}
.reviews-sliders {
    /* overflow: hidden; */
    display:flex;
    justify-content:space-between;
    margin-bottom:60px;
}
.reviews-item {
    display:none;
    max-width: 636px;
    min-height: 350px;
    background-color: rgba(1, 138, 190, 1);
    border-radius: 10px;
    padding:50px 60px 56px 60px;
    margin: 0 auto;
    transition: .3s;
}
.reviews-item__active{
    display: block;
}
@media(max-width:380px){
    .reviews-item {
        padding:30px 40px 36px 40px;
    }
}
@media(max-width:300px){
    .reviews-item {
        padding:20px 30px 36px 20px;
    }
}
.reviews-name {
    display:block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom:20px;
}
.reviews-descr {
    max-width: 516px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
}
.reviews__span{
    display: block;
    margin-bottom: 20px;
}
.reviews-points {
    display:flex;
    width: 124px;
    justify-content:space-between;
    margin: 0 auto;
    margin-bottom: 150px;
}
.points__item{
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    opacity: 0.4;
    border-radius: 3px;
}
.points__item-active{
    background-color:#FFFFFF;
    opacity: 100%;
}
/* ------ABOUT CONTENT--------*/
.about_container{
  margin-bottom:150px;
}
.about__block__title{
    max-width:389px;
}
.about-block{
    max-width: 1070px;
    min-height: 400px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.about-block__mrgn{
    margin-bottom:100px;
}
.about-block__text{
    max-width: 466px;
    /* min-width: 400px; */
}
.about-block__image{
    max-width:526px;
}
.about-block__title{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom:30px;
}
.about-block__title_2{
    margin-top:20px;
    margin-bottom:10px;
}
.about-block__descr {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}
@media(max-width:1059px){
    .about-block__image{
        display: none;
    }
    .about-block__text{
        max-width: 466px;
        margin: 0 auto;
        text-align: center;
    }
    .about-block__title_2{
        margin-bottom:20px;
    }
    .about-block__mrgn{
        margin-bottom:100px;
    }
    .about-block{
        background-image: url(../image/aboutImage1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius:10px;
        max-width: 700px;
    }
}
@media(max-width:520px){
    .about-block{
        padding-left:20px;
        padding-right:20px;
    } 
}
/* --------PRICE CONTENT--------- */
.price-block-size{
    max-width: 518px;
}
.price-block {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price-block__list {
    padding-top:103px;
    justify-content: space-between;
}
.price-block__item {
    max-width:416px;
    justify-content: space-between;
    display: flex;
    min-height: 25px;
    align-items: center;
    color: #FFFFFF;
    margin-bottom:31px;
}
.price-block__nameANDlogo{
    display: flex;
}
.price-block__logo {
    margin-right:20px;
}
.price-block__procedure-name {
    font-family: 'Montserrat', sans-serif;
    max-width:268px;
    text-align:left;
    margin-right:23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    margin-right:23px;
}
.price-block__price {
    /* display:block; */
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    max-width: 87px;
    /* text-align: right; */
}
.price-block__right{
    max-width: 526px;
    min-height: 465px;
}
.price-block__image {
    /* background-image:url(../image/certificate.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.price-block__span {
    display: block;
    font-weight: 700;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}
@media(max-width:980px){
    .price-block{
        max-width: 526px;
        margin: 0 auto;
    }
    .price-block__list{
        margin: 0 auto;
        margin-bottom:30px;
    }
}
/* --------------FOOTER CONTENT---------------- */
.footer{
    padding-top:150px;
}
.footer_container {
    /* flex-wrap: wrap; */
    justify-content: space-between;
    display:flex;
    align-items: center;
}
.footer-block__map {
}
.footer-map {
    background-size: cover;
    background-position: center;
    max-width:100%;
    margin-bottom:90px;
}
.footer-block__years {
    display:block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color:#FFFFFF;
}
.footer-cards {
    /* margin-bottom:90px; */
}
.footer_card {
    background-color: rgba(1, 138, 190, 1);
    border-radius:10px;
    padding:35px 45px 44px 45px;
    color:#FFFFFF;
}
.footer_card_mrgn{
    margin-bottom:90px;
}
.footer_card:first-child{
    margin-bottom:24px;
}
.footer_card__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin-bottom:21px;
}
.footer-card__list {
    margin-bottom:30px;
}
.footer-card__item {
    max-width: 214px;
    margin-bottom:21px;
    display: flex;
    align-items: center;
}
.footer-card__logo {
    margin-right:20px;
}
.footer-card__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
}
.footer_card__button {
    background-color: #FFFFFF;
    color:rgba(1, 138, 190, 1);
    padding:9px 15px;
    border-radius:3px;
}
.footer-card__span {
    display:block;
    font-family:'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 135%;
    text-align:right;
    color: #FFFFFF;
}
.footer_text{
    text-align:center;
}
.footer-word{
    text-align:center;
    display: none;
}
.footer-word{
    margin-bottom:15px;
}
@media(max-width:1270px){
    .footer{
        padding-top:10px;
    }
    .footer_container {
       flex-wrap: wrap;
       max-width: 856px;
    }
    .footer-cards{
        margin: 0 auto;
    }
    .footer-block__years {
        display: none;
    }
    .footer-card__span {
        display: none;
    }
    .footer-word{
        margin-top:0px;
        display:block;
    }
}
@media(max-width:300px){
    .footer_card{
        padding-left: 20px;
        padding-right: 20px;
    }
}